:root {
    font-family: "Roboto", "Lato", sans-serif;
    background-color: #EAFAF9;
}

body {
    margin: 0
}

.box {
    padding: .5rem;
    /* margin-top: .25rem;
    margin-bottom: .25rem; */
    border-radius: .25rem;
    background-color: white;
    width: 30rem;
    min-height: 10rem;
    border: 1px solid rgb(235, 235, 235); 
    box-sizing: content-box;
    /* overflow: auto; */
}

#selected {
    border-left-color: coral;
    border-left-width: .5rem;
    margin-left: -.5rem;
    width: 30rem
}

.with-shadow {
    box-shadow: 0.125em, 0.125em;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.side-bar {
    padding: .5rem;
    flex-basis: 31rem;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    /* overflow-x: visible; */
    /* background-color: black; */
}

.flex-container-h {
    display: flex;
    padding: 0.5rem;
    justify-content: flex-start
}

.flex-container-v {
    display: flex;
    flex-direction: column;
}

.right-margin {
    margin-right: 1rem;
}
.content {
    flex-basis: 0;
    flex-grow: 999;
    /* height: 100vh; */
}

.centered {
    display: flex;
    justify-content: center;
    align-content: center;
}

#mapid {
    height: 100%;
    width: 100%;
}
    
#app {
    height: 100vh;
    width: 100vw;
}

.inline-edit-display--active,
.inline-edit-input--active {
    font: inherit;
    color: inherit;
    text-align: inherit;
    padding: 0;
    background: none;
}

.inline-edit-input--active {
    border: 1px solid grey;
}

.inline-edit-display--hidden,
.inline-edit-input--hidden {
    display: none
}

.overlay {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    z-index: 50;
}

.popup-menu {
    position: fixed;
    left: 50%;
    width: 50rem;
    height: 30rem;
    margin-left: -25rem;
    background-color: white;
}

.dropdown {
    display: block;
    /* animation-name: dropdown;
    animation-duration: 1s */
}

@keyframes dropdown {
    0% {height: 0%;}
    100% {height: 100%;}
}